<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.sixtysixfcu.nwaApp"
        version   = "1.0.2"
	versionCode = "152">

  <name>66FCUNWA</name>

  <description>
    66 Federal Credit Union's free mobile banking app for members who want to manage their finances on the go.
  </description>

  <feature name="http://api.phonegap.com/1.0/device" />
  <preference name="permissions" value="none"/>
</widget>